[submodule "2023-05-van_Stokkum_et_al"]
	path = 2023-05-van_Stokkum_et_al
	url = https://github.com/glotaran/pub-2023-05-van_Stokkum_et_al.git
[submodule "2023-pyglotaran-release-paper"]
	path = 2023-pyglotaran-release-paper
	url = https://github.com/glotaran/pyglotaran-release-paper-supplementary-information
